**Data Analysis : D-2**

*Importing Data*

*Structured VS Unstructured Data*

Question: Can you identify which of the following is structured data and which is unstructured data?

A database of customer transactions -> Structured

A collection of tweets about a trending topic -> Unstructured

An Excel spreadsheet of employee attendance records -> Structured

A set of customer reviews on various products -> Unstructured

Task: Below is a mix of structured and unstructured data. Your challenge is to:

1. Classify each item as structured or unstructured data.

2. Propose a way to convert the unstructured data into a structured format.

Data to Classify:

A. List of product prices in a CSV file. Structured

B. Customer feedback comments from a survey. Unstructured / Use text analysis techniques such as sentiment analysis to categorize the comments into structured fields (e.g., sentiment score, category of feedback, keywords). This could involve creating a table with columns for each comment, its sentiment (positive, negative, neutral), and any relevant tags or categories.

C. A graph showing sales over the past year. Unstructured / Extract the data points used to create the graph (e.g., sales figures for each month) and organize them into a structured format, such as a table with columns for "Month" and "Sales Amount." This would allow for easier analysis and querying of the sales data.

D. Tweets mentioning brand. Unstructured / Use natural language processing (NLP) techniques to extract relevant information from the tweets, such as the tweet content, user handle, timestamp, and sentiment. This information can be organized into a structured format, such as a table with columns for "User," "Tweet Content," "Timestamp," and "Sentiment."

*Importing Data*

In [45]:
import pandas as pd
iris_data = pd.read_csv('Iris_dataset.csv', header=None)
iris_data.head()

     0    1    2    3            4
0  5.1  3.5  1.4  0.2  Iris-setosa
1  4.9  3.0  1.4  0.2  Iris-setosa
2  4.7  3.2  1.3  0.2  Iris-setosa
3  4.6  3.1  1.5  0.2  Iris-setosa
4  5.0  3.6  1.4  0.2  Iris-setosa

In [46]:
import pandas as pd
iris_data = pd.read_csv('Iris_dataset.csv')
iris_data.head()

   5.1  3.5  1.4  0.2  Iris-setosa
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

In [ ]:
iris_data = pd.read_csv('Iris_dataset.csv', names=['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'species'])
print(iris_data.head())

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

**JSON (JavaScript Object Notation)**

Format: Lightweight, text-based data interchange format.

Structure: Supports hierarchical data with key-value pairs and nested objects/arrays.

Readability: Human-readable and easy to understand.

Data Types: Supports multiple data types (strings, numbers, booleans, arrays, objects).

**CSV (Comma-Separated Values)**

Format: Plain text format for tabular data.

Structure: Organized in rows and columns; flat data only.

Readability: Simple and straightforward for tabular data.

Data Types: All data is treated as text.

**Key Differences**

Data Structure: JSON supports nested data; CSV is flat.

Readability: JSON is better for complex data; CSV is simpler for tables.

Data Types: JSON has multiple types; CSV treats everything as text.

Use Cases: JSON is used in web APIs; CSV is used for spreadsheets and databases.

In [49]:
json_data = pd.read_json('https://jsonplaceholder.typicode.com/posts')
json_data.head()

,userId,id,title,body
0,1,1,sunt aut facere repellat provident occaecati e...,quia et suscipit\nsuscipit recusandae consequu...
1,1,2,qui est esse,est rerum tempore vitae\nsequi sint nihil repr...
2,1,3,ea molestias quasi exercitationem repellat qui...,et iusto sed quo iure\nvoluptatem occaecati om...
3,1,4,eum et est occaecati,ullam et saepe reiciendis voluptatem adipisci\...
4,1,5,nesciunt quas odio,repudiandae veniam quaerat sunt sed\nalias aut...

In [7]:
json_data2 = pd.read_json('posts.json')
json_data2

,userId,id,title,body
0,1,1,sunt aut facere repellat provident occaecati e...,quia et suscipit\nsuscipit recusandae consequu...
1,1,2,qui est esse,est rerum tempore vitae\nsequi sint nihil repr...
2,1,3,ea molestias quasi exercitationem repellat qui...,et iusto sed quo iure\nvoluptatem occaecati om...
3,1,4,eum et est occaecati,ullam et saepe reiciendis voluptatem adipisci\...
4,1,5,nesciunt quas odio,repudiandae veniam quaerat sunt sed\nalias aut...
...,...,...,...,...
95,10,96,quaerat velit veniam amet cupiditate aut numqu...,in non odio excepturi sint eum\nlabore volupta...
96,10,97,quas fugiat ut perspiciatis vero provident,eum non blanditiis soluta porro quibusdam volu...
97,10,98,laboriosam dolor voluptates,doloremque ex facilis sit sint culpa\nsoluta a...
98,10,99,temporibus sit alias delectus eligendi possimu...,quo deleniti praesentium dicta non quod\naut e...
99,10,100,at nam consequatur ea labore ea harum,cupiditate quo est a modi nesciunt soluta\nips...

In [ ]:
!pip install xlrd
!pip install openyxl

Collecting xlrd
  Downloading xlrd-2.0.1-py2.py3-none-any.whl.metadata (3.4 kB)
Downloading xlrd-2.0.1-py2.py3-none-any.whl (96 kB)
   ---------------------------------------- 0.0/96.5 kB ? eta -:--:--
   ---------------------------------------- 0.0/96.5 kB ? eta -:--:--
   ---- ----------------------------------- 10.2/96.5 kB ? eta -:--:--
   ------------ --------------------------- 30.7/96.5 kB 435.7 kB/s eta 0:00:01
   ---------------- ----------------------- 41.0/96.5 kB 487.6 kB/s eta 0:00:01
   ---------------- ----------------------- 41.0/96.5 kB 487.6 kB/s eta 0:00:01
   ---------------- ----------------------- 41.0/96.5 kB 487.6 kB/s eta 0:00:01
   ---------------- ----------------------- 41.0/96.5 kB 487.6 kB/s eta 0:00:01
   ------------------------- -------------- 61.4/96.5 kB 172.4 kB/s eta 0:00:01
   ----------------------------- ---------- 71.7/96.5 kB 196.3 kB/s eta 0:00:01
   -------------------------------------- - 92.2/96.5 kB 209.5 kB/s eta 0:00:01
   ---------------------------------------- 96.5/96.5 kB 204.5 kB/s eta 0:00:00
Installing collected packages: xlrd
Successfully installed xlrd-2.0.1

[notice] A new release of pip is available: 24.0 -> 25.0.1
[notice] To update, run: C:\Users\moonb\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [14]:
excel_data = pd.read_excel('file_example_XLS_10(5).xls', index_col=0)
excel_data.head()

  First Name  Last Name  Gender        Country  Age        Date    Id
0
1      Dulce      Abril  Female  United States   32  15/10/2017  1562
2       Mara  Hashimoto  Female  Great Britain   25  16/08/2016  1582
3     Philip       Gent    Male         France   36  21/05/2015  2587
4   Kathleen     Hanner  Female  United States   25  15/10/2017  3549
5    Nereida    Magwood  Female  United States   58  16/08/2016  2468

In [15]:
excel_data2 = pd.read_excel('file_example_XLS_10(5).xls')
excel_data2.head()

   0 First Name  Last Name  Gender        Country  Age        Date    Id
0  1      Dulce      Abril  Female  United States   32  15/10/2017  1562
1  2       Mara  Hashimoto  Female  Great Britain   25  16/08/2016  1582
2  3     Philip       Gent    Male         France   36  21/05/2015  2587
3  4   Kathleen     Hanner  Female  United States   25  15/10/2017  3549
4  5    Nereida    Magwood  Female  United States   58  16/08/2016  2468

Challenge

In [50]:
import pandas as pd
import numpy as np
df_grades = pd.read_csv("grades.csv")
df_grades.head()

,Last name,"""First name""","""SSN""","""Test1""","""Test2""","""Test3""","""Test4""","""Final""","""Grade"""
0,Alfalfa,"""Aloysius""","""123-45-6789""",40.0,90.0,100.0,83.0,49.0,"""D-"""
1,Alfred,"""University""","""123-12-1234""",41.0,97.0,96.0,97.0,48.0,"""D+"""
2,Gerty,"""Gramma""","""567-89-0123""",41.0,80.0,60.0,40.0,44.0,"""C"""
3,Android,"""Electric""","""087-65-4321""",42.0,23.0,36.0,45.0,47.0,"""B-"""
4,Bumpkin,"""Fred""","""456-78-9012""",43.0,78.0,88.0,77.0,45.0,"""A-"""

*Exporting Data*

In [51]:
df_grades.to_csv('grades_export.csv', index=False)

In [52]:
df_grades.to_json('grades_export.json')

In [54]:
df_grades.to_json('grades_export_split.json', orient='split')

In [26]:
df_grades.to_excel('grades_export.xlsx', sheet_name='Sheet1')

What are the advantages of using file formats like Parquet or HDF5 for large datasets?

Advantages of **Parquet**:
Columnar Storage: Efficiently reads specific columns, reducing I/O for analytical queries.
Compression: Supports various compression algorithms, lowering file size and speeding up data transfer.
Schema Evolution: Allows adding or modifying columns without rewriting the entire dataset.
Big Data Compatibility: Optimized for use with frameworks like Apache Spark and Hive.
Improved Query Performance: Enhances performance for analytical workloads by reading only necessary data.

Advantages of **HDF5**:
Hierarchical Structure: Organizes data in a structured, file-system-like format.
Versatile Data Types: Supports a wide range of data types, including multidimensional arrays and images.
Compression and Chunking: Optimizes storage and access patterns for large datasets.
Cross-Platform Compatibility: Easily shared and accessed across different systems and languages.
High-Performance I/O: Designed for fast read and write operations.
Rich Metadata Support: Allows inclusion of metadata for better context and usability.

Summary:Parquet is ideal for analytical workloads in big data environments, while HDF5 is suited for scientific applications requiring a hierarchical data model. Both formats enhance storage efficiency, access speed, and data organization for large datasets.

Challenge

In [ ]:
import pandas as pd
df = pd.DataFrame({
       'Column1': [1, 2, 3, 4, 5],
       'Column2': ['A', 'B', 'C', 'D', 'E'],
       'Column3': [True, False, True, False, True]
   })
df.to_csv('my_dataframe.csv', index=False)
df.to_json('my_dataframe.json')
df.to_excel('my_dataframe.xlsx', sheet_name='my_dataframe')

*Dataset Generation*

In [32]:
!pip install faker

Collecting faker
  Downloading Faker-36.1.1-py3-none-any.whl.metadata (15 kB)
Requirement already satisfied: tzdata in c:\users\moonb\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from faker) (2023.3)
Downloading Faker-36.1.1-py3-none-any.whl (1.9 MB)
   ---------------------------------------- 0.0/1.9 MB ? eta -:--:--
   ---------------------------------------- 0.0/1.9 MB ? eta -:--:--
   ---------------------------------------- 0.0/1.9 MB ? eta -:--:--
   ---------------------------------------- 0.0/1.9 MB ? eta -:--:--
   ---------------------------------------- 0.0/1.9 MB ? eta -:--:--
   ---------------------------------------- 0.0/1.9 MB ? eta -:--:--
   ---------------------------------------- 0.0/1.9 MB ? eta -:--:--
    --------------------------------------- 0.0/1.9 MB 1.4 MB/s eta 0:00:02
    --------------------------------------- 0.0/1.9 MB 1.4 MB/s eta 0:00:02
   - -------------------------------------- 0.1/1.9 MB 491.5 kB/s eta 0:00:04
   - -------------------------------------- 0.1/1.9 MB 438.1 kB/s eta 0:00:05
   - -------------------------------------- 0.1/1.9 MB 438.1 kB/s eta 0:00:05
   -- ------------------------------------- 0.1/1.9 MB 400.9 kB/s eta 0:00:05
   -- ------------------------------------- 0.1/1.9 MB 426.7 kB/s eta 0:00:05
   --- ------------------------------------ 0.2/1.9 MB 399.3 kB/s eta 0:00:05
   --- ------------------------------------ 0.2/1.9 MB 399.3 kB/s eta 0:00:05
   ---- ----------------------------------- 0.2/1.9 MB 406.9 kB/s eta 0:00:05
   ---- ----------------------------------- 0.2/1.9 MB 405.0 kB/s eta 0:00:05
   ---- ----------------------------------- 0.2/1.9 MB 405.0 kB/s eta 0:00:05
   ---- ----------------------------------- 0.2/1.9 MB 360.4 kB/s eta 0:00:05
   ---- ----------------------------------- 0.2/1.9 MB 360.4 kB/s eta 0:00:05
   ---- ----------------------------------- 0.2/1.9 MB 360.4 kB/s eta 0:00:05
   ----- ---------------------------------- 0.3/1.9 MB 327.7 kB/s eta 0:00:06
   ----- ---------------------------------- 0.3/1.9 MB 327.7 kB/s eta 0:00:06
   ----- ---------------------------------- 0.3/1.9 MB 309.9 kB/s eta 0:00:06
   ----- ---------------------------------- 0.3/1.9 MB 309.9 kB/s eta 0:00:06
   ----- ---------------------------------- 0.3/1.9 MB 290.1 kB/s eta 0:00:06
   ------ --------------------------------- 0.3/1.9 MB 292.6 kB/s eta 0:00:06
   ------ --------------------------------- 0.3/1.9 MB 293.4 kB/s eta 0:00:06
   ------- -------------------------------- 0.3/1.9 MB 295.5 kB/s eta 0:00:06
   ------- -------------------------------- 0.4/1.9 MB 305.4 kB/s eta 0:00:06
   ------- -------------------------------- 0.4/1.9 MB 305.8 kB/s eta 0:00:06
   ------- -------------------------------- 0.4/1.9 MB 305.8 kB/s eta 0:00:06
   ------- -------------------------------- 0.4/1.9 MB 305.8 kB/s eta 0:00:06
   -------- ------------------------------- 0.4/1.9 MB 288.8 kB/s eta 0:00:06
   -------- ------------------------------- 0.4/1.9 MB 276.8 kB/s eta 0:00:06
   -------- ------------------------------- 0.4/1.9 MB 281.9 kB/s eta 0:00:06
   -------- ------------------------------- 0.4/1.9 MB 281.9 kB/s eta 0:00:06
   --------- ------------------------------ 0.5/1.9 MB 284.6 kB/s eta 0:00:06
   --------- ------------------------------ 0.5/1.9 MB 286.4 kB/s eta 0:00:06
   --------- ------------------------------ 0.5/1.9 MB 286.4 kB/s eta 0:00:06
   --------- ------------------------------ 0.5/1.9 MB 286.4 kB/s eta 0:00:06
   --------- ------------------------------ 0.5/1.9 MB 286.4 kB/s eta 0:00:06
   --------- ------------------------------ 0.5/1.9 MB 286.4 kB/s eta 0:00:06
   --------- ------------------------------ 0.5/1.9 MB 286.4 kB/s eta 0:00:06
   --------- ------------------------------ 0.5/1.9 MB 286.4 kB/s eta 0:00:06
   --------- ------------------------------ 0.5/1.9 MB 286.4 kB/s eta 0:00:06
   --------- ------------------------------ 0.5/1.9 MB 286.4 kB/s eta 0:00:06
   --------- ------------------------------ 0.5/1.9 MB 286.4 kB/s eta 0:00:06
   ---------- ----------------------------- 0.5/1.9 MB 242.0 kB/s eta 0:00:06
   ---------- ----------------------------- 0.5/1.9 MB 242.0 kB/s eta 0:00:06
   ---------- ----------------------------- 0.5/1.9 MB 237.5 kB/s eta 0:00:06
   ---------- ----------------------------- 0.5/1.9 MB 237.5 kB/s eta 0:00:06
   ---------- ----------------------------- 0.5/1.9 MB 237.5 kB/s eta 0:00:06
   ----------- ---------------------------- 0.5/1.9 MB 229.0 kB/s eta 0:00:07
   ----------- ---------------------------- 0.5/1.9 MB 229.0 kB/s eta 0:00:07
   ----------- ---------------------------- 0.6/1.9 MB 228.5 kB/s eta 0:00:06
   ----------- ---------------------------- 0.6/1.9 MB 228.5 kB/s eta 0:00:06
   ----------- ---------------------------- 0.6/1.9 MB 222.6 kB/s eta 0:00:07
   ----------- ---------------------------- 0.6/1.9 MB 222.6 kB/s eta 0:00:07
   ------------ --------------------------- 0.6/1.9 MB 229.0 kB/s eta 0:00:06
   ------------ --------------------------- 0.6/1.9 MB 228.8 kB/s eta 0:00:06
   ------------ --------------------------- 0.6/1.9 MB 228.8 kB/s eta 0:00:06
   ------------ --------------------------- 0.6/1.9 MB 228.8 kB/s eta 0:00:06
   ------------ --------------------------- 0.6/1.9 MB 228.8 kB/s eta 0:00:06
   ------------ --------------------------- 0.6/1.9 MB 228.8 kB/s eta 0:00:06
   ------------- -------------------------- 0.6/1.9 MB 216.1 kB/s eta 0:00:06
   ------------- -------------------------- 0.6/1.9 MB 216.1 kB/s eta 0:00:06
   ------------- -------------------------- 0.6/1.9 MB 216.1 kB/s eta 0:00:06
   ------------- -------------------------- 0.6/1.9 MB 216.1 kB/s eta 0:00:06
   ------------- -------------------------- 0.6/1.9 MB 216.1 kB/s eta 0:00:06
   ------------- -------------------------- 0.6/1.9 MB 216.1 kB/s eta 0:00:06
   ------------- -------------------------- 0.6/1.9 MB 216.1 kB/s eta 0:00:06
   ------------- -------------------------- 0.7/1.9 MB 203.6 kB/s eta 0:00:07
   ------------- -------------------------- 0.7/1.9 MB 203.6 kB/s eta 0:00:07
   ------------- -------------------------- 0.7/1.9 MB 203.6 kB/s eta 0:00:07
   ------------- -------------------------- 0.7/1.9 MB 203.6 kB/s eta 0:00:07
   ------------- -------------------------- 0.7/1.9 MB 203.6 kB/s eta 0:00:07
   ------------- -------------------------- 0.7/1.9 MB 203.6 kB/s eta 0:00:07
   -------------- ------------------------- 0.7/1.9 MB 194.8 kB/s eta 0:00:07
   -------------- ------------------------- 0.7/1.9 MB 195.2 kB/s eta 0:00:07
   -------------- ------------------------- 0.7/1.9 MB 195.2 kB/s eta 0:00:07
   -------------- ------------------------- 0.7/1.9 MB 194.9 kB/s eta 0:00:07
   -------------- ------------------------- 0.7/1.9 MB 194.9 kB/s eta 0:00:07
   --------------- ------------------------ 0.7/1.9 MB 194.4 kB/s eta 0:00:07
   --------------- ------------------------ 0.7/1.9 MB 196.6 kB/s eta 0:00:06
   ---------------- ----------------------- 0.8/1.9 MB 198.8 kB/s eta 0:00:06
   ---------------- ----------------------- 0.8/1.9 MB 198.8 kB/s eta 0:00:06
   ---------------- ----------------------- 0.8/1.9 MB 199.0 kB/s eta 0:00:06
   ---------------- ----------------------- 0.8/1.9 MB 201.9 kB/s eta 0:00:06
   ---------------- ----------------------- 0.8/1.9 MB 201.2 kB/s eta 0:00:06
   ----------------- ---------------------- 0.8/1.9 MB 204.8 kB/s eta 0:00:06
   ----------------- ---------------------- 0.8/1.9 MB 205.9 kB/s eta 0:00:06
   ----------------- ---------------------- 0.8/1.9 MB 205.9 kB/s eta 0:00:06
   ----------------- ---------------------- 0.9/1.9 MB 205.3 kB/s eta 0:00:06
   ------------------ --------------------- 0.9/1.9 MB 206.3 kB/s eta 0:00:06
   ------------------ --------------------- 0.9/1.9 MB 206.5 kB/s eta 0:00:05
   ------------------- -------------------- 0.9/1.9 MB 209.0 kB/s eta 0:00:05
   ------------------- -------------------- 0.9/1.9 MB 209.0 kB/s eta 0:00:05
   ------------------- -------------------- 0.9/1.9 MB 209.0 kB/s eta 0:00:05
   ------------------- -------------------- 0.9/1.9 MB 209.2 kB/s eta 0:00:05
   ------------------- -------------------- 0.9/1.9 MB 207.8 kB/s eta 0:00:05
   -------------------- ------------------- 1.0/1.9 MB 210.9 kB/s eta 0:00:05
   -------------------- ------------------- 1.0/1.9 MB 210.3 kB/s eta 0:00:05
   -------------------- ------------------- 1.0/1.9 MB 210.3 kB/s eta 0:00:05
   -------------------- ------------------- 1.0/1.9 MB 211.9 kB/s eta 0:00:05
   -------------------- ------------------- 1.0/1.9 MB 211.9 kB/s eta 0:00:05
   -------------------- ------------------- 1.0/1.9 MB 211.9 kB/s eta 0:00:05
   -------------------- ------------------- 1.0/1.9 MB 211.9 kB/s eta 0:00:05
   -------------------- ------------------- 1.0/1.9 MB 211.9 kB/s eta 0:00:05
   -------------------- ------------------- 1.0/1.9 MB 211.9 kB/s eta 0:00:05
   --------------------- ------------------ 1.0/1.9 MB 203.9 kB/s eta 0:00:05
   --------------------- ------------------ 1.0/1.9 MB 203.4 kB/s eta 0:00:05
   --------------------- ------------------ 1.0/1.9 MB 203.4 kB/s eta 0:00:05
   --------------------- ------------------ 1.0/1.9 MB 203.4 kB/s eta 0:00:05
   --------------------- ------------------ 1.0/1.9 MB 202.4 kB/s eta 0:00:05
   --------------------- ------------------ 1.0/1.9 MB 202.4 kB/s eta 0:00:05
   --------------------- ------------------ 1.0/1.9 MB 202.4 kB/s eta 0:00:05
   --------------------- ------------------ 1.1/1.9 MB 198.9 kB/s eta 0:00:05
   --------------------- ------------------ 1.1/1.9 MB 198.9 kB/s eta 0:00:05
   --------------------- ------------------ 1.1/1.9 MB 198.9 kB/s eta 0:00:05
   ---------------------- ----------------- 1.1/1.9 MB 198.7 kB/s eta 0:00:05
   ---------------------- ----------------- 1.1/1.9 MB 198.7 kB/s eta 0:00:05
   ---------------------- ----------------- 1.1/1.9 MB 198.7 kB/s eta 0:00:05
   ---------------------- ----------------- 1.1/1.9 MB 197.4 kB/s eta 0:00:05
   ----------------------- ---------------- 1.1/1.9 MB 197.5 kB/s eta 0:00:05
   ----------------------- ---------------- 1.1/1.9 MB 198.4 kB/s eta 0:00:04
   ----------------------- ---------------- 1.1/1.9 MB 198.4 kB/s eta 0:00:04
   ----------------------- ---------------- 1.1/1.9 MB 197.0 kB/s eta 0:00:04
   ------------------------ --------------- 1.2/1.9 MB 201.9 kB/s eta 0:00:04
   ------------------------ --------------- 1.2/1.9 MB 201.9 kB/s eta 0:00:04
   ------------------------ --------------- 1.2/1.9 MB 201.5 kB/s eta 0:00:04
   ------------------------- -------------- 1.2/1.9 MB 202.3 kB/s eta 0:00:04
   ------------------------- -------------- 1.2/1.9 MB 202.3 kB/s eta 0:00:04
   ------------------------- -------------- 1.2/1.9 MB 201.9 kB/s eta 0:00:04
   -------------------------- ------------- 1.3/1.9 MB 206.6 kB/s eta 0:00:04
   -------------------------- ------------- 1.3/1.9 MB 207.2 kB/s eta 0:00:04
   --------------------------- ------------ 1.3/1.9 MB 212.9 kB/s eta 0:00:03
   --------------------------- ------------ 1.3/1.9 MB 212.9 kB/s eta 0:00:03
   --------------------------- ------------ 1.3/1.9 MB 214.1 kB/s eta 0:00:03
   ---------------------------- ----------- 1.4/1.9 MB 213.6 kB/s eta 0:00:03
   ---------------------------- ----------- 1.4/1.9 MB 216.3 kB/s eta 0:00:03
   ---------------------------- ----------- 1.4/1.9 MB 215.8 kB/s eta 0:00:03
   ----------------------------- ---------- 1.4/1.9 MB 217.4 kB/s eta 0:00:03
   ----------------------------- ---------- 1.4/1.9 MB 218.4 kB/s eta 0:00:03
   ----------------------------- ---------- 1.4/1.9 MB 218.4 kB/s eta 0:00:03
   ------------------------------ --------- 1.5/1.9 MB 220.0 kB/s eta 0:00:03
   ------------------------------ --------- 1.5/1.9 MB 220.0 kB/s eta 0:00:03
   ------------------------------ --------- 1.5/1.9 MB 222.1 kB/s eta 0:00:02
   ------------------------------- -------- 1.5/1.9 MB 224.1 kB/s eta 0:00:02
   ------------------------------- -------- 1.5/1.9 MB 224.1 kB/s eta 0:00:02
   ------------------------------- -------- 1.5/1.9 MB 224.1 kB/s eta 0:00:02
   ------------------------------- -------- 1.5/1.9 MB 219.9 kB/s eta 0:00:02
   ------------------------------- -------- 1.5/1.9 MB 219.9 kB/s eta 0:00:02
   ------------------------------- -------- 1.5/1.9 MB 219.9 kB/s eta 0:00:02
   ------------------------------- -------- 1.5/1.9 MB 219.9 kB/s eta 0:00:02
   ------------------------------- -------- 1.5/1.9 MB 219.9 kB/s eta 0:00:02
   -------------------------------- ------- 1.5/1.9 MB 217.5 kB/s eta 0:00:02
   -------------------------------- ------- 1.6/1.9 MB 218.0 kB/s eta 0:00:02
   -------------------------------- ------- 1.6/1.9 MB 218.0 kB/s eta 0:00:02
   -------------------------------- ------- 1.6/1.9 MB 218.0 kB/s eta 0:00:02
   --------------------------------- ------ 1.6/1.9 MB 218.0 kB/s eta 0:00:02
   --------------------------------- ------ 1.6/1.9 MB 218.0 kB/s eta 0:00:02
   --------------------------------- ------ 1.6/1.9 MB 218.9 kB/s eta 0:00:02
   --------------------------------- ------ 1.6/1.9 MB 218.9 kB/s eta 0:00:02
   --------------------------------- ------ 1.6/1.9 MB 217.1 kB/s eta 0:00:02
   ---------------------------------- ----- 1.6/1.9 MB 218.0 kB/s eta 0:00:02
   ---------------------------------- ----- 1.7/1.9 MB 219.8 kB/s eta 0:00:02
   ----------------------------------- ---- 1.7/1.9 MB 219.8 kB/s eta 0:00:02
   ----------------------------------- ---- 1.7/1.9 MB 219.8 kB/s eta 0:00:02
   ----------------------------------- ---- 1.7/1.9 MB 221.1 kB/s eta 0:00:01
   ----------------------------------- ---- 1.7/1.9 MB 221.1 kB/s eta 0:00:01
   ------------------------------------ --- 1.7/1.9 MB 221.1 kB/s eta 0:00:01
   ------------------------------------ --- 1.8/1.9 MB 223.7 kB/s eta 0:00:01
   ------------------------------------- -- 1.8/1.9 MB 225.0 kB/s eta 0:00:01
   ------------------------------------- -- 1.8/1.9 MB 224.5 kB/s eta 0:00:01
   ------------------------------------- -- 1.8/1.9 MB 225.7 kB/s eta 0:00:01
   -------------------------------------- - 1.8/1.9 MB 227.0 kB/s eta 0:00:01
   -------------------------------------- - 1.8/1.9 MB 227.0 kB/s eta 0:00:01
   -------------------------------------- - 1.8/1.9 MB 227.0 kB/s eta 0:00:01
   -------------------------------------- - 1.8/1.9 MB 224.7 kB/s eta 0:00:01
   -------------------------------------- - 1.8/1.9 MB 224.7 kB/s eta 0:00:01
   -------------------------------------- - 1.8/1.9 MB 224.7 kB/s eta 0:00:01
   -------------------------------------- - 1.8/1.9 MB 224.7 kB/s eta 0:00:01
   -------------------------------------- - 1.8/1.9 MB 224.7 kB/s eta 0:00:01
   -------------------------------------- - 1.8/1.9 MB 224.7 kB/s eta 0:00:01
   -------------------------------------- - 1.8/1.9 MB 224.7 kB/s eta 0:00:01
   -------------------------------------- - 1.8/1.9 MB 224.7 kB/s eta 0:00:01
   -------------------------------------- - 1.9/1.9 MB 217.7 kB/s eta 0:00:01
   -------------------------------------- - 1.9/1.9 MB 217.7 kB/s eta 0:00:01
   -------------------------------------- - 1.9/1.9 MB 217.7 kB/s eta 0:00:01
   -------------------------------------- - 1.9/1.9 MB 217.7 kB/s eta 0:00:01
   -------------------------------------- - 1.9/1.9 MB 217.7 kB/s eta 0:00:01
   -------------------------------------- - 1.9/1.9 MB 217.7 kB/s eta 0:00:01
   -------------------------------------- - 1.9/1.9 MB 217.7 kB/s eta 0:00:01
   -------------------------------------- - 1.9/1.9 MB 217.7 kB/s eta 0:00:01
   -------------------------------------- - 1.9/1.9 MB 217.7 kB/s eta 0:00:01
   -------------------------------------- - 1.9/1.9 MB 217.7 kB/s eta 0:00:01
   -------------------------------------- - 1.9/1.9 MB 217.7 kB/s eta 0:00:01
   -------------------------------------- - 1.9/1.9 MB 217.7 kB/s eta 0:00:01
   -------------------------------------- - 1.9/1.9 MB 217.7 kB/s eta 0:00:01
   -------------------------------------- - 1.9/1.9 MB 217.7 kB/s eta 0:00:01
   -------------------------------------- - 1.9/1.9 MB 217.7 kB/s eta 0:00:01
   -------------------------------------- - 1.9/1.9 MB 217.7 kB/s eta 0:00:01
   -------------------------------------- - 1.9/1.9 MB 217.7 kB/s eta 0:00:01
   -------------------------------------- - 1.9/1.9 MB 217.7 kB/s eta 0:00:01
   -------------------------------------- - 1.9/1.9 MB 217.7 kB/s eta 0:00:01
   -------------------------------------- - 1.9/1.9 MB 217.7 kB/s eta 0:00:01
   -------------------------------------- - 1.9/1.9 MB 217.7 kB/s eta 0:00:01
   -------------------------------------- - 1.9/1.9 MB 217.7 kB/s eta 0:00:01
   ---------------------------------------  1.9/1.9 MB 195.5 kB/s eta 0:00:01
   ---------------------------------------  1.9/1.9 MB 195.5 kB/s eta 0:00:01
   ---------------------------------------  1.9/1.9 MB 195.5 kB/s eta 0:00:01
   ---------------------------------------  1.9/1.9 MB 195.5 kB/s eta 0:00:01
   ---------------------------------------  1.9/1.9 MB 193.6 kB/s eta 0:00:01
   ---------------------------------------  1.9/1.9 MB 193.6 kB/s eta 0:00:01
   ---------------------------------------  1.9/1.9 MB 193.6 kB/s eta 0:00:01
   ---------------------------------------  1.9/1.9 MB 193.6 kB/s eta 0:00:01
   ---------------------------------------  1.9/1.9 MB 193.6 kB/s eta 0:00:01
   ---------------------------------------  1.9/1.9 MB 191.1 kB/s eta 0:00:01
   ---------------------------------------- 1.9/1.9 MB 190.8 kB/s eta 0:00:00
Installing collected packages: faker
Successfully installed faker-36.1.1

[notice] A new release of pip is available: 24.0 -> 25.0.1
[notice] To update, run: C:\Users\moonb\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [ ]:
import numpy as np
from faker import Faker
fake = Faker()
data = [(fake.name(), np.random.randint(18, 70)) for _ in range(100)] # Generating synthetic names and ages

In [36]:
# Converting to a DataFrame
import pandas as pd
df = pd.DataFrame(data, columns=['Name', 'Age'])
df.head()

               Name  Age
0  Katherine Carter   36
1       Brent Wells   54
2     Tyler Frazier   64
3       Teresa Wong   44
4       Holly Henry   50

Challenge: Creating a Synthetic Sales Dataset

In [37]:
import numpy as np
from faker import Faker
import pandas as pd

fake = Faker()

# Generating synthetic sales data
sales_data = [(fake.word(), np.random.randint(10, 500), fake.date_this_year(), np.random.randint(18, 70)) for _ in range(500)]
sales_df = pd.DataFrame(sales_data, columns=['Product', 'Sale Amount', 'Date', 'Customer Age'])

# Display the first few rows of the DataFrame
sales_df.head()

    Product  Sale Amount        Date  Customer Age
0      game           25  2025-02-04            20
1      blue          322  2025-01-02            61
2   develop          152  2025-01-27            40
3      want           50  2025-02-06            31
4  Democrat          198  2025-01-14            20

**Data augmentation**

Exercice

*Generate Synthetic Data*

In [ ]:
import pandas as pd
import numpy as np
from faker import Faker
import random

# Initialize Faker
fake = Faker()

# Define the number of records
num_records = 1000

# Generate synthetic data
data = {
    'ProductID': [fake.uuid4() for _ in range(num_records)],
    'ProductCategory': [random.choice(['Electronics', 'Clothing', 'Home', 'Toys']) for _ in range(num_records)],
    'Price': [round(random.uniform(5.0, 500.0), 2) for _ in range(num_records)],
    'CustomerID': [fake.uuid4() for _ in range(num_records)],
    'CustomerAge': [random.randint(18, 70) for _ in range(num_records)],
    'CustomerGender': [random.choice(['Male', 'Female']) for _ in range(num_records)],
    'PurchaseDate': [fake.date_between(start_date='-1y', end_date='today') for _ in range(num_records)],
    'Sales': [random.randint(1, 20) for _ in range(num_records)]
}

# Create a DataFrame
df = pd.DataFrame(data)

# Display the first few rows
df.head()

                              ProductID ProductCategory   Price  \
0  cf3d5fbb-3746-449c-ba2c-608289acdea3     Electronics  150.38
1  cc5d7be3-e383-4b27-8cf5-ffb4593c19e6        Clothing  352.11
2  ebe6e621-9727-4db0-8bff-21f0782493a2            Home  279.27
3  c5f80938-329d-4c36-822b-c7b00fc4647d            Home  286.93
4  81ad38a4-742d-4841-9445-8db3ee94c343            Toys  117.62

                             CustomerID  CustomerAge CustomerGender  \
0  7c9a8ace-cee7-4562-90a8-e9e397935899           57         Female
1  d3b8ce4f-288a-4601-a6d1-9ecfe3f6bcdc           19           Male
2  076bdcda-d4a1-4054-90c3-4686a192d4be           41         Female
3  fde67a81-40f8-4d36-b385-4c5b790dce26           35           Male
4  a91ff9b8-4f11-4c81-bf2c-7b093793266f           43           Male

  PurchaseDate  Sales
0   2024-06-30      4
1   2024-04-06      4
2   2024-10-14      9
3   2024-11-15     10
4   2024-10-06      4

In [8]:
df.head()

,ProductID,ProductCategory,Price,CustomerID,CustomerAge,CustomerGender,PurchaseDate,Sales
0,cf3d5fbb-3746-449c-ba2c-608289acdea3,Electronics,150.38,7c9a8ace-cee7-4562-90a8-e9e397935899,57,Female,2024-06-30,3.954359
1,cc5d7be3-e383-4b27-8cf5-ffb4593c19e6,Clothing,352.11,d3b8ce4f-288a-4601-a6d1-9ecfe3f6bcdc,19,Male,2024-04-06,4.000000
2,ebe6e621-9727-4db0-8bff-21f0782493a2,Home,279.27,076bdcda-d4a1-4054-90c3-4686a192d4be,41,Female,2024-10-14,9.000000
3,c5f80938-329d-4c36-822b-c7b00fc4647d,Home,286.93,fde67a81-40f8-4d36-b385-4c5b790dce26,35,Male,2024-11-15,14.310600
4,81ad38a4-742d-4841-9445-8db3ee94c343,Toys,117.62,a91ff9b8-4f11-4c81-bf2c-7b093793266f,43,Male,2024-10-06,4.000000

*Data Augmentation*

In [6]:
# Add seasonal variability
def adjust_sales_for_season(date, sales):
    month = date.month
    if month in [11, 12]:  # Holiday season
        return sales * random.uniform(1.2, 1.5)
    elif month in [6, 7, 8]:  # Summer sales
        return sales * random.uniform(0.8, 1.0)
    else:
        return sales

df['Sales'] = df.apply(lambda row: adjust_sales_for_season(row['PurchaseDate'], row['Sales']), axis=1)

*Review and Refinement*

In [ ]:
# Check for any anomalies or unrealistic data
print(df.describe())

# Make adjustments if necessary
# For example, ensure no negative sales or prices
df['Sales'] = df['Sales'].apply(lambda x: max(1, x))
df['Price'] = df['Price'].apply(lambda x: max(0.01, x))

# Final review
df.head()

             Price  CustomerAge        Sales
count  1000.000000  1000.000000  1000.000000
mean    247.760220    44.293000    10.833402
std     140.411542    14.870719     6.187927
min       5.590000    18.000000     0.802785
25%     129.642500    32.000000     5.419741
50%     237.240000    45.000000    10.004011
75%     361.672500    57.000000    16.000000
max     499.490000    70.000000    29.245849
                              ProductID ProductCategory   Price  \
0  cf3d5fbb-3746-449c-ba2c-608289acdea3     Electronics  150.38
1  cc5d7be3-e383-4b27-8cf5-ffb4593c19e6        Clothing  352.11
2  ebe6e621-9727-4db0-8bff-21f0782493a2            Home  279.27
3  c5f80938-329d-4c36-822b-c7b00fc4647d            Home  286.93
4  81ad38a4-742d-4841-9445-8db3ee94c343            Toys  117.62

                             CustomerID  CustomerAge CustomerGender  \
0  7c9a8ace-cee7-4562-90a8-e9e397935899           57         Female
1  d3b8ce4f-288a-4601-a6d1-9ecfe3f6bcdc           19           Male
2  076bdcda-d4a1-4054-90c3-4686a192d4be           41         Female
3  fde67a81-40f8-4d36-b385-4c5b790dce26           35           Male
4  a91ff9b8-4f11-4c81-bf2c-7b093793266f           43           Male

  PurchaseDate      Sales
0   2024-06-30   3.954359
1   2024-04-06   4.000000
2   2024-10-14   9.000000
3   2024-11-15  14.310600
4   2024-10-06   4.000000